@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fcfcfd;
  color-scheme: light dark;
  color: #2a2932;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-synthesis: none;
  font-weight: 400;

  height: 100%;
  width: 100%;

  scrollbar-gutter: stable;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 500;
  font-size: 3.875rem;
  line-height: 4.6875rem;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 100%;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}
