# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
insert_final_newline = true
max_line_length=140
trim_trailing_whitespace = true

[{*.cs,*.xaml.cs}]
indent_style = tab
indent_size = 4

[*.xaml]
indent_style = space
indent_size = 4